<p id="notice"><%= notice %></p>

<p>
  <strong>Key:</strong>
  <%= link_to 'Image', document_fetch_object_path(@document) %>
</p>

<%= link_to 'Edit', edit_document_path(@document) %> |
<%= link_to 'Back', documents_path %>
